html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	color: white;
	background: #CC543A;
	touch-action: none;
	-ms-touch-action: none;
}
.pagewrapper {
	position: relative;
	height: 100%;
	white-space: nowrap;
	left: 0;
	display: none;
}
.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	padding: 10px;
	box-sizing: border-box;
}
.page.current {
	display: block;
}
.section {
	margin-bottom: 20px;
}
.header {
	text-align: center;
	font: 30px bold;
	margin-bottom: 15px;
}
.content {
	margin-top: 40px;
}
.subject {
	font-size: 20px;
}
.info {
	white-space: pre-line;
	text-align: center;
	width: 70%;
	margin: auto;
}
.item {
	margin: 5px 15px;
}
.remain {
	text-align: center;
	font-size: 30px;
	margin: 30px;
}
.percent {
	display: inline-block;
	vertical-align: middle;
}
.percent>span {
	display: block;
}
.percent .numerator {
	border-bottom: 1px solid white;
}
.film .info {
	text-align: left;
	margin: 20px auto;
}
a.buy {
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 60%;
	padding: 15px;
	color: white;
	border: 1px white solid;
	text-decoration: none;
	background: #D82842;
}
.item label {
	display: inline-block;
	width: 50%;
	margin-right: 30%;
}
.item span {
	display: none;
}