@font-face {
    font-family: modifiedFont;
    src: url('../font/m.ttf');
}
@-webkit-keyframes blurin {
	from {
		-webkit-filter: blur(10px);
		filter: blur(10px);
		width: 140%;
		margin-left: -20%;
		margin-top: -10%;
	}
	to {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
}
@keyframes blurin {
	from { filter: blur(10px); }
	to { filter: blur(0px); }
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	color: white;
	background: #E15253;
	font-family: modifiedFont;
	touch-action: none;
	-ms-touch-action: none;
}
.pagewrapper {
	position: relative;
	height: 100%;
	top: 0;
	display: none;
}
.page {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../img/bg.png') no-repeat top left;
	background-size: cover;
	overflow: hidden;
	box-sizing: border-box;
}
.surface {
	position: relative;
	z-index: 2;
}
img.hide {
	display: none;
}
img.full {
	width: 100%;
	position: absolute;
}
img.people, img.parents {
	bottom: 0;
}
img.blurin {
	-webkit-animation: blurin 1s;
	animation: blurin 1s;
}
div.startend {
	margin-top: 40%;
}
img.no_ticket {
	position: absolute;
}
div.startend {
	text-align: center;
	height: 44px;
	line-height: 44px;
}
::-webkit-input-placeholder { color: #F6C4C4; }
input.time {
	color: #F6C4C4;
	/*background-color: rgba(0,0,0,0);*/
	background-color: #E15253;
	width: 38%;
	font-size: 14px;
	padding: 8px 6px;
	margin: 5px;
	border: 1px #f2eea4 solid;
	border-radius: 15px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
input.time.start {
	float: left;
}
input.time.end {
	float: right;
}
.statistic, .remain {
	clear: both;
	text-align: center;
	font-size: 20px;
}
.total {
	display: inline-block;
	vertical-align: middle;
}
.number {
	padding: 7px;
	color: #f2eea4;
	font-size: 60px;
	background: url('../img/number_bg.png') no-repeat center center;
	background-size: contain;
}
.number.zero {
	color: #ce5a5a;
}
.result .info {
	text-align: center;
	font-size: 20px;
	margin: 15px;
}
span.small {
	font-size: 15px;
}