@font-face {
    font-family: modifiedFont;
    src: url('../font/m.ttf');
}
@-webkit-keyframes slipin {
	from {
		opacity: 0;
		margin-top: -10%;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}
@keyframes slipin {
	from {
		opacity: 0;
		margin-top: -10%;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}
@-webkit-keyframes slipup {
	from {
		opacity: 0;
		margin-bottom: -10%;
	}
	to {
		opacity: 1;
		margin-bottom: 0;
	}
}
@keyframes slipup {
	from {
		opacity: 0;
		margin-bottom: -10%;
	}
	to {
		opacity: 1;
		margin-bottom: 0;
	}
}
@-webkit-keyframes sliplb {
	from {
		opacity: 0;
		margin-left: 10%;
		margin-bottom: 10%;
	}
	to {
		opacity: 1;
		margin-left: 0;
		margin-bottom: 0;
	}
}
@keyframes sliplb {
	from {
		opacity: 0;
		margin-left: 10%;
		margin-bottom: 10%;
	}
	to {
		opacity: 1;
		margin-left: 0;
		margin-bottom: 0;
	}
}
@-webkit-keyframes fadein {
	from {
		opacity: 0;
		margin-top: -5%;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}
@keyframes fadein {
	from {
		opacity: 0;
		margin-top: -5%;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}

@-webkit-keyframes fadeup {
	from {
		opacity: 0;
		margin-bottom: -5%;
	}
	to {
		margin-bottom: 0;
		opacity: 1;
	}
}
@keyframes fadeup {
	from {
		opacity: 0;
		margin-bottom: -5%;
	}
	to {
		margin-bottom: 0;
		opacity: 1;
	}
}
@-webkit-keyframes blurin {
	from {
		-webkit-filter: blur(10px);
		filter: blur(10px);
		opacity: 0;
		width: 140%;
		margin-left: -20%;
		margin-top: -10%;
	}
	to {
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
}
@keyframes blurin {
	from {
		filter: blur(10px);
		opacity: 0;
		width: 140%;
		margin-left: -20%;
		margin-top: -10%;
	}
	to {
		filter: blur(0);
		opacity: 1;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
}
@-webkit-keyframes bubbleL {
	from {
		-webkit-transform: scale(0);
		-webkit-transform-origin: left;
	}
	to {
		-webkit-transform: scale(1);
		-webkit-transform-origin: left;
	}
}
@keyframes bubbleL {
	from {
		transform: scale(0);
		transform-origin: left;
	}
	to {
		transform: scale(1);
		transform-origin: left;
	}
}
@-webkit-keyframes bubbleR {
	from {
		-webkit-transform: scale(0);
		-webkit-transform-origin: right;
	}
	to {
		-webkit-transform: scale(1);
		-webkit-transform-origin: right;
	}
}
@keyframes bubbleR {
	from {
		transform: scale(0);
		transform-origin: right;
	}
	to {
		transform: scale(1);
		transform-origin: right;
	}
}
@-webkit-keyframes flip {
    from  {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(180deg);}
}
@keyframes flip {
    from  {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
}
@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    0%  {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes 'opacityLight' {
    from {
        opacity: 0.8;
        margin-bottom: -5px;
    }
    50% {
        opacity: 1;
        margin-bottom: 15px;
    }
    to {
        opacity: 0.8;
        margin-bottom: -5px;
    }
}
@-webkit-keyframes 'opacityLight' {
    from {
        opacity: 0.8;
        margin-bottom: -5px;
    }
    50% {
        opacity: 1;
        margin-bottom: 15px;
    }
    to {
        opacity: 0.8;
        margin-bottom: -5px;
    }
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	color: white;
	background: #E15253;
	font-family: modifiedFont;
	touch-action: none;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
}
.pagewrapper {
	position: relative;
	height: 100%;
	top: 0;
	display: none;
}
.page {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../img/bg.png') no-repeat top left;
	background-size: cover;
	overflow: hidden;
	box-sizing: border-box;
}
.page.long {
	font-family: Helvetica, sans-serif;
	background: white;
	min-height: 100%;
	height: auto;
	overflow: visible;
}
.page.holiday {
	background: url('../img/holiday.png') no-repeat top left;
	background-size: cover;
}
.page.arrangement {
	background: #E15253;
}
.page:not(:last-child)::after {
	content: '';
	width: 100%;
	height: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url('../img/arrow.png') no-repeat center;
	background-size: contain;
    opacity: 0.8;
}
.page:not(:last-child)::after {
    -webkit-animation-name: opacityLight;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacityLight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
div.audio {
	position: absolute;
	width: 30px;
	height: 30px;
	padding: 10px;
	right: 0;
	background: url('../img/mute_music.png') no-repeat;
	background-origin: content-box;
	background-size: cover;
	-webkit-animation: spin 3s infinite linear;
	animation: spin 3s infinite linear;
}
div.audio.mute {
	background: url('../img/music.png') no-repeat;
	background-origin: content-box;
	background-size: cover;
	-webkit-animation: none !important;
	animation: none !important;
}
.surface {
	position: relative;
	z-index: 2;
}
.hide {
	display: none;
}
.flipboard {
	position: absolute;
	width: 100%;
}
.flipboard.right {
	right: 0;
	bottom: 0;
}
img {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
img.full {
	width: 100%;
	position: absolute;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}
img.sentence {
	position: absolute;
	height: 36px;
}
img.sentence00 {
	right: 1%;
	top: 13px;
}
img.sentence01 {
	top: 50px;
	right: 13%;
	height: 24px;
}
img.sentence02 {
	top: 75px;
	right: 1%;
	height: 30px;
}
img.sentence03 {
	bottom: 135px;
	height: 32px;
	right: 27%;
}
img.sentence10 {
	bottom: 143px;
	height: 28px;
	right: 2%;
}
img.sentence11 {
	bottom: 114px;
	height: 46px;
	left: 3%;
}
img.people {
	bottom: 0;
}
img.ticket {
	bottom: 5%;
}
img.children {
	left: 0;
}
img.parents {
	right: 0;
	bottom: 0;
}
img.cinima {
	bottom: 20%;
}
img.film_ticket {
	z-index: 20;
	bottom: 20%;
}
.slipin {
	-webkit-animation: slipin 0.7s ease;
	animation: slipin 0.7s ease;
}
.blurin {
	-webkit-animation: blurin 0.7s ease;
	animation: blurin 0.7s ease;
}
.fadein {
	-webkit-animation: fadein 0.7s ease;
	animation: fadein 0.7s ease;
}
.fadeup {
	-webkit-animation: fadeup 0.7s ease;
	animation: fadeup 0.7s ease;
}
.slipup {
	-webkit-animation: slipup 0.7s ease;
	animation: slipup 0.7s ease;
}
.sliplb {
	-webkit-animation: sliplb 0.7s ease;
	animation: sliplb 0.7s ease;
}
.bubbleL {
	-webkit-animation: bubbleL 0.3s ease;
	animation: bubbleL 0.3s ease;
}
.bubbleR {
	-webkit-animation: bubbleR 0.3s ease;
	animation: bubbleR 0.3s ease;
}
div.startend {
	margin-top: 30%;
	text-align: center;
	height: 44px;
	line-height: 44px;
}
::-webkit-input-placeholder { color: #F6C4C4; }
input.time {
	color: #F6C4C4;
	/*background-color: rgba(0,0,0,0);*/
	background-color: #E15253;
	width: 75%;
	font-size: 14px;
	padding: 8px 6px;
	margin: 5px;
	border: 1px #f2eea4 solid;
	border-radius: 15px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
input.time.tip {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border: 1px rgba(0,0,0,0.5) solid;
}
.statistic, .remain {
	clear: both;
	text-align: center;
	font-size: 20px;
}
.total {
	display: inline-block;
	vertical-align: middle;
}
.number {
	display: inline-block;
	width: 35px;
	padding: 7px;
	color: #f2eea4;
	font-size: 60px;
	background: url('../img/number_bg.png') no-repeat center center;
	background-size: contain;
}
.number.zero {
	color: #ce5a5a;
}
.info {
	text-align: center;
	font-size: 20px;
	margin: 15px;
}
span.small {
	font-size: 15px;
}
span.middle {
	font-size: 17px;
}
div.info.below-remain {
	margin: 0;
}
div.info.above-remain {
	position: relative;
	top: 15px;
	margin: 0;
	margin-bottom: 10px;
}
.film textarea {
	resize: none;
	font-family: inherit;
	color: #bf3a3b;
	display: block;
	background: transparent;
	font-size: 14px;
	width: 100%;
	height: 80px;
	border: none;
	outline: none;
}
.sharewrapper .wrapper::after {
	content: '48个字以内';
	color: #909090;
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 9;
	font-size: 14px;
}
.link {
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
	height: 75px;
}
.buy {
	display: inline-block;
	color: #f2eea4;
	border: 1px #f2eea4 solid;
	border-radius: 25px;
	text-decoration: none;
	padding: 10px 35px;
}

.attendant {
	opacity: 0;
	position: absolute;
	bottom: 0px;
	opacity: 0;
	font-size: 13px;
	width: 100%;
	text-align: center;
}
.item {
	height: 40px;
	line-height: 40px;
}
input[type=checkbox] {
	display: none;
}
.arrangement label {
	position: relative;
	padding: 15px 17px 10px;
	background: url('../img/bubble.png') no-repeat center;
	background-size: 100% 100%;
}
.arrangement label.checked {
	background: url('../img/bubble_checked.png') no-repeat center;
	background-size: 100% 100%;
}
.arrangement label#blabla {
	background: url('../img/bubble_bla.png') no-repeat center;
	background-size: 100% 100%;
}
.arrangement label#blabla.checked {
	background: url('../img/bubble_bla_checked.png') no-repeat center;
	background-size: 100% 100%;
}
.arrangement label::before {
	content: '';
	background: url('../img/checkbox.png') no-repeat center;
	background-size: 100% 100%;
	display: inline-block;
	position: absolute;
	top: 42%;
	left: -17px;
	width: 15px;
	height: 15px;
}
.arrangement label.checked::before {
	content: '';
	background: url('../img/checkbox_checked.png') no-repeat center;
	background-size: 100% 100%;
	display: inline-block;
	position: absolute;
	top: 42%;
	left: -17px;
	width: 15px;
	height: 15px;
}
.subject {
	color: #f2eea4;
	margin: -5px 0 5px;
}
.section {
	z-index: 2;
	text-align: center;
}
.arrangement .arrBg {
    position: absolute;
    background: url('../img/arrBg.png') no-repeat center top;
    background-size: 100% 93%;
    width: 100%;
    top: 0px;
    height: 100%;
}
.arrangement .arrCircle {
    position: absolute;
    top: 45%;
    left: 50%;
    background: url('../img/arrCircle.png') no-repeat;
    background-size: 100% 100%;
    margin-top: -100px;
    margin-left: -35%;
    height: 40%;
    width: 70%;
}
.section.classmates {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
.arrangement .info {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -20px;
}
.section.friends {
    position: absolute;
    top: 50%;
    margin-top: 20px;
}
.arrangement .friends label#blabla {
    left: 20px;
}
.section.own {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top:20px;
}
.debug {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	color: black;
}
.ds-post-report, .ds-post-delete, .ds-post-repost {
	display: none !important;
}
div.ds-replybox form {
	width: 98% !important;
}
.ds-powered-by {
	display: none;
}

.sharewrapper {
	position: absolute;
	width: 100%;
	top: 10%;
	z-index: 9;
}

.film .wrapper {
	opacity: 0;
	background: url('../img/speech.png') no-repeat center;
	background-size: 100% 100%;
	position: relative;	
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	top: 0px;
	box-sizing: border-box;
	padding: 20px;
}

.film .guide {
	position: absolute;
	top: 10%;
	left: 0px;
	right: 0px;
	text-align: center;
	z-index: 10;
}

.guide > div {
	opacity: 0;
	position: absolute;
	width: 100%;
}

.guide > div.first {
	top: 0px;
}

.guide > div.second {
	top: 25px;
}

.guide > div.third {
	top: 50px;
}

@keyframes fadeinout {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeinout {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.fadeinout {
	-webkit-animation: fadeinout 3s 1 linear;
}

@media (max-width: 320px) and (max-height: 420px) {
	.flipboard {
		width: 80%;
	}
	img.sentence00 {
		right: -11%;
	}
	img.sentence01 {
		right: 5%;
	}
	img.sentence02 {
		right: -6%;
	}
	img.sentence03 {
		bottom: 105px;
	}
	img.sentence10 {
		bottom: 121px;
		right: 0;
	}
	img.sentence11 {
		bottom: 80px;
		left: -6%;
	}
}
